td {
  text-align: left;
}

table {
  margin-top: 10px;
  align-self: center;
  width: 90%;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-self: center;
}
